.error {
    color: red;
    float: left;
    padding: 0px 0px 5px 0px;
}

.input-otp {
	margin: 0px 0px 19px 0;
}

.resend-otp a {
	color: #007bff;
	margin: 0 0 0px -7px;
}

.cancel_btn {
    color: white !important;
    font-weight: 200px !important;
}